<section class="hero is-info is-large is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Reddex
      </h1>
      <h2 class="subtitle">
        PrimeHammer's Knowledge Base
      </h2>
      <p>
        <a class="button is-medium">
          <span class="icon is-medium">
            <i class="fab fa-github"></i>
          </span>
          <span>Login</span>
        </a>
      </p>
    </div>
  </div>
</section>
