<div class="jumbotron">
  <h1>Welcome to Reddex</h1>
  <p>PrimeHammer's Knowledge Base application</p>
  <button type="button" class="btn btn-default btn-lg">
    <i class="icon github"></i>
    Login
  </button>
</div>
